@font-face {
  font-family: "Oblik";
  src: url("/fonts/oblik.woff2") format("woff2"),
    url("/fonts/oblik.woff") format("woff"),
    /* Add other formats if available */ url("/fonts/oblik.ttf")
      format("truetype");
  /* Add font-weight and font-style if applicable */
}
.fa {
  font-weight: bold;
}
.dropdowncontent {
   /* Adjust as needed based on your layout's margins/paddings */
  box-sizing: border-box;
  position: absolute;
  /* top: 50%; */
  /* box-shadow:0.5px 0.5px 1px black; */
}

.mattress-content {
  top: 100%;
  left: 10%;
  /* background-color: red; */
  transform: translateX(-10%);
}

.sales-content {
  top: 100%;
  left: 50%;
  /* background-color: red; */
  transform: translateX(-50%);
}
.accessories-content {
  top: 100%;
  left: 10%;
  /* background-color: red; */
  transform: translateX(-10%);
  width: 30vw;
}


.dropdown:hover .dropdowncontent {
  display: flex;
  /* padding-top: 5%; */
}

.dropdown:hover .listitem::before {
  display: block;
}

.dropdown:hover .listitem {
  background-color: #08c;
  color: white;
}
.listitem::before {
  display: none;
  z-index: 100;
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 20px solid #08c;
  z-index: 100;
}

.image-container {
  max-width: 100%; /* Set maximum width to prevent image from overflowing */
  height: auto; /* Allow height to adjust according to the image aspect ratio */
}

.image-container img {
  width: 100%; /* Make image fill its container horizontally */
  height: auto; /* Allow height to adjust according to the image aspect ratio */
}




/* @media (min-width: 768px) {
  .carousel-container {
    max-width: 100%;
    max-height: 70vh;
    margin: 2rem 0;
  }

  .carousel {
    height: 70vh;
  }
  img {
    object-fit: contain;
  }
} */
